:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  color-scheme: dark;
}

body {
  margin: 0;
  background: #020617; /* slate-950 */
  color: #e5e7eb;      /* gray-200 */
}
